html {
    font-size: 62.5%;
    background-image: url(../r-nolan-hFBi3eFotSM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 1080px;
    width: 60%;
    margin: 0 auto;
}

.container {
    background: rgb(221,97,17);
    background: linear-gradient(90deg, rgba(221,97,17,1) 0%, rgba(212,127,71,1) 54%, rgba(191,152,124,1) 100%);
    margin-top: 5%;
    text-align: center;
    color: black;
    border-radius: 50px;
    box-shadow: 15px 15px rgb(153, 51, 153);
    padding-bottom: 10px;
}

header {
    margin: 0;
}

h1 {
    padding-top: 5%;
}

.station {
    text-transform: uppercase;
}


.examples button {
    height: 75px;
    width: 75px;
    margin-left: 15px;

    border-color: white;
    border-radius: 100px;
    background-color: rgb(153, 51, 153);
}


form button {

    height: 50px;
    width: 200px;
    margin: 10px 0;
    border-color: rgb(153, 51, 153);
    background-color: black;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input[type=text] {
    width: 75%;
    padding: 25px;
    background-color: rgb(153, 51, 153);
    border: none;
    text-align: center;
}

form label {
    padding-bottom: 10px;
}

ul {
    background-color: rgb(153, 51, 153);
    width: 75%; 
    margin: 0 auto; 
    
}

ul li {
    list-style: none;
    padding-top: 5px;
}

li button {
    background-color: rgb(153, 51, 153);
    border: none;
}

.trainIcon {
    margin:0 5px 0 -15px;
}


